#navBar {
  width: 100%;
  height: 76px;
  background: #001EC7;
  box-shadow:  20px 20px 60px #051270,
              -20px -20px 60px #0d34ff; 
  color: #ffffff;
}

#navBarContainer {
  height: 100%;
  width: 100%;
}

#left,
#right,
#center {
  margin: 0 20px;
  padding: 0;
}
