#changePasswordDiv {
  min-width: 530px;
}

#changePasswordDiv {
  color: white;
}
#save-btn {
  border-radius: 50px;

  box-shadow: -20px 20px 60px #5c636a, 20px -20px 60px #7c8790;
}
#save-btn:hover {
  background-color: blue;
}
