#canvasDiv {
  width: 100vw;
  height: calc(100vh - 80px);

  background-color: white;
}

.colorBox {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border: 2px solid white;
}

#can {
  width: 100%;
  height: 400;
  border: 2px solid black;
}
#btn-close {
  font-size: 20px;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  margin-right: 15px;
  background-color: red;
  border-radius: 5px;
  color: white;
}
#btn-clear {
  font-size: 20px;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  margin-right: 15px;
  background-color: gray;
  border-radius: 5px;
  color: white;
}

#btn-save {
  font-size: 20px;

  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  background: #2d8b51;
  border-radius: 5px;
  color: white;
}
