#reportPreviewDiv {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100000;
}

#reportPreviewBody {
  background-color: white;
  height: calc(100vh - 80px);
  width: 100vw;
}
