#verifyStudentBody {
  height: calc(100vh - 80px);

  background-color: rgb(196, 196, 196);
  overflow: auto;
}

.backBtn {
  margin-right: 3px;
  background-color: rgb(207, 45, 45);
}

#navBack {
  background: #001ec7;
  border-style: none;
  color: white;
}
