#list-item-container {
  height: 100px;
  background-color: white;
  border-radius: 0px;
  margin: 8px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow:  5px 5px 22px #969696,
              -5px -5px 22px #ffffff;
}

#left-list-item-content,
#right-list-item-content {
  margin: 20px;
}

#list-item-container:hover {
  background-color: rgb(243, 243, 243);
}
