#examBody {
  height: calc(100vh - 80px - 30px);
  background-color: rgb(196, 196, 196);

  overflow: auto;

  padding: 50px 20px;
}

#examBody textarea {
  width: 100%;
}

#check-camera {
  height: 100vh;
  background-color: rgb(196, 196, 196);

  overflow: auto;
}

#equationsBar {
  width: 100%;
  height: 30px;

  background-color: rgb(26, 41, 122);

  display: flex;
  justify-content: center;
  align-items: center;
}

.equationItem {
  cursor: pointer;

  background-color: rgb(3, 3, 77);
  color: white;
  width: 28px;
  height: 28px;

  border: 1px solid rgb(141, 141, 247);
}

.equationItem:hover {
  background-color: rgb(52, 88, 206);
}
