#studentProfileBody{
  height: calc(100vh - 80px);
  background-color: #e0e0e0;
  padding-top: 330px;
  padding-bottom: 60px;

  overflow: scroll;
}

#changeBtn {
  font-size: 14px;
  border:none;
  border-radius: 50px;
  background: #001EC7;
  box-shadow:  5px 5px 8px #b1b1b1,
              -5px -5px 8px #ffffff;
  color: white;
}
.logoutBtn {
  font-size: 14px;
  border: none;
  border-radius: 50px;
  background-color: red;
  box-shadow:  4px 4px 7px #00179b,
              -4px -4px 7px #0025f3;
  color: white;
}
.logoutBtn:hover {
  border: none;
  background-color: red;
}
body {
  overflow: hidden;
}
