.root {
  background-color: #e0e0e0;
}

#adminContent {
  height: calc(100vh - 80px);
  width: calc(100vw - 300px);
  overflow: auto;
}

#adminBody {
  width: 100%;
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: row;
}

#adminSidebar {
  width: 300px;
  height: calc(100vh - 80px);
  background-color: #060b26;
  overflow: auto;
  border-right: 1px;
}

#adminSidebar .list-group-item {
  background-color: #060b26;
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
}

#adminSidebar .active {
  color: black;
  background-color: #e0e0e0;
  border-right: 8px solid white;
}
#logoutBtn {
  font-size: 13px;
  border: none;
  border-radius: 50px;
  background-color: red;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}
#logoutBtn:hover {
  border: none;
  background-color: rgb(218, 85, 85);
}
