.btn-delete {
  border-radius: 50px;

  border: none;
  background: #d93025;
  box-shadow: 20px 20px 50px #e6e6e6, -20px -20px 50px #ffffff;
}
.btn-delete:hover {
  background-color: red;
}
.btn-edit {
  border-radius: 50px;
  margin-right: 2em;
  border: none;
  background: #001ec7;
  box-shadow: 20px 20px 50px #e6e6e6, -20px -20px 50px #ffffff;
}
.btn-edit:hover {
  background-color: blue;
}
