#btn-replay {
  margin-right: 50px;
  margin-top: 13px;
  box-shadow: 5px 5px 8px #b1b1b1, -5px -5px 8px #ffffff;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 12px;
}
#btn-replay {
  background-color: green;
}
.btn-delete {
  border-radius: 50px;

  border: none;
  background: #d93025;
  box-shadow: 20px 20px 50px #e6e6e6, -20px -20px 50px #ffffff;
}
.btn-delete:hover {
  background-color: red;
}
