#imagesBody {
  height: calc(100vh - 80px);
  width: 100vw;

  background-color: white;

  overflow: scroll;
}

.student-image {
  margin: 30px 0;
  width: 100%;
}
.btn-close {
  font-size: 15px;
  border: none;
  border-radius: 50px;
  background-color: red;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}
#navBack {
  background: #001ec7;
  border-style: none;
  color: white;
}
#left-nav-image {
  display: flex;
}
#nav-image {
  font-size: 1.5rem;
}
