#tabViewContainer {
  margin: 0;
  padding: 0;
}

#tabViewRow {
  width: 100%;

  display: flex;
  align-items: center;

  height: 38px;
  background-color: rgb(87, 87, 87);
  color: white;
  border-radius: 0px;
  background: #565656;
  box-shadow: inset 6px 6px 12px #363636,
            inset -6px -6px 12px #767676;
  
  
}

#leftTab {
  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightTab {
  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedTab {
  background-color: rgb(87, 87, 87);
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 0px;
  background: #1854c3;
  box-shadow:  1px 1px 1px #2a834c,
              -1px -1px 1px #309356;
}

#tabViewBody {
  height: 100%;
  width: 100%;
}
