#tabViewContainer {
  margin: 0;
  padding: 0;
}

#tabViewRow {
  width: 100%;

  display: flex;
  align-items: center;

  height: 50px;
  background-color: rgb(0, 145, 230);
  color: white;
}

#leftTab {
  width: 50%;
  height: 100%;
  border-right: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightTab {
  width: 50%;
  height: 100%;
  border-left: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedTab {
  background-color: rgb(87, 87, 87);
  border-bottom: 5px solid rgb(0, 0, 0);
}

#tabViewBody {
  height: 100%;
  width: 100%;
}
