#login-btn {
  width: 55%;
  margin: 10px;
}

#google-login-btn {
  width: 55%;
  margin: 10px;
}

.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

label {
  color: white;
}
