<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="preload.css">
    <title>Preloader</title>
</head>
<body>
    <section>
    <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    </section>
    
    <div class="content">
    <h2>
        <span style="color: #e30c64">Y</span>
        <span style="color: #fbba04">u</span>
        <span style="color: #2c94fb">v</span>
        <span style="color: #fb635a">a</span>
        <span style="color: #6ce3fb">s</span>
        <span style="color: #83ca65">h</span>
        <span style="color: #2e55a6">i</span>
        <span style="color: #e0f3fa">k</span>
        <span style="color: #8455b3">s</span>
        <span style="color: #1c3c70">h</span>
        <span style="color: #f8e000">a</span>
    </h2>
</div>
</body>
</html>