#login-card {
  background-color: rgba(46, 46, 255, 0.89);
}
#login-btn {
  width: 55%;
  margin: 10px;
}

#google-login-btn {
  width: 55%;
  margin: 10px;
}

.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

#signin-tab {
  background-color: rgb(37, 35, 34);
}

#signup-tab {
  background-color: rgb(75, 75, 75);
  color: white;
}

label {
  color: white;
}
