#login-card {
  background-color: rgba(46, 46, 255, 0.89);
}

#signin-tab {
  background-color: rgb(75, 75, 75);
  color: white;
}

#signup-tab {
  background-color: rgb(75, 75, 75);
  color: white;
}

#loginBody {
  background-color: rgb(196, 196, 196);
}
