#root {
  background-color: rgb(160, 160, 160);
}

#systemAlert {
  position: fixed;
  top: 10px;
  left: 5%;
  z-index: 100000;
  width: 90%;
  opacity: 90%;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#yuvashikshaExit {
  position: fixed;
  right: 10px;
  top: 10px;
}
