#root {
  background-color: rgb(160, 160, 160);
  font-family: "Work Sans", sans-serif;
}

#systemAlert {
  position: fixed;
  top: 10px;
  left: 5%;
  z-index: 100000;
  width: 90%;
  opacity: 0.9;

  animation: fadealert 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#yuvashikshaExit {
  position: fixed;
  right: 10px;
  top: 10px;
}

@keyframes fadealert {
  from {
    opacity: 0.9;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100vw);
  }
}
