h5 {
  display: inline;
}

#navBarBackButton {
  font-size: 40px;
  margin: 10px;
  margin-right: 20px;
}
.modal-body {
  position: relative;

  padding: 15px;
}

#newExamBody {
  height: calc(100vh - 80px);
  overflow: auto;
  font-family: "Donegal One", serif;
  background-color: #fff;
}

#emptyQuestion {
  height: calc(100vh - 80px);
}

.mcqOptionsContainer {
  margin-top: 10px;
  height: 300px;
  overflow: auto;
  border: 1px solid grey;
}

.mcqOptionsContainer table {
  width: 100%;
}

.mcqOptionsContainer td {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.mcqOptionsContainer table td:first-of-type {
  width: 80px;
}

.mcqOptionsContainer table td:last-of-type:hover {
  background-color: lightcoral;
}

.mcqOptionsContainer table tr:first-of-type {
  background-color: rgb(197, 197, 197);
}

.mcqOptionsContainer table tr:first-of-type td:hover {
  background-color: rgb(197, 197, 197);
}

.mcqOptionsContainer table tr:last-of-type {
  background-color: rgb(197, 197, 197);
}

.mcqOptionsContainer table tr:last-of-type td:hover {
  background-color: rgb(197, 197, 197);
}

#navBarUp {
  border-radius: 35px;
  border-style: none;
  background: #001ec7;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}

#navBarDown {
  position: relative;
  left: 35px;
  border-radius: 35px;
  border-style: none;
  background: #001ec7;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}

#navBarEdit {
  border-radius: 35px;
  border-style: none;
  background: #001ec7;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}

#navBarDelete {
  border-radius: 35px;
  border-style: none;
  background: #001ec7;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}
#navBack {
  background: #001ec7;
  border-style: none;
  color: white;
}

#dropdown-basic {
  border-radius: 35px;
  border-style: none;
  background: #001ec7;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}

#navSuccess {
  margin-right: 25px;
  border-radius: 35px;
  border-style: none;
  background: #2d8b51;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}
#navSuccess:hover {
  background-color: green;
}
.text-box {
  border-radius: 0px;
  background: #ffffff;
  box-shadow: inset -27px -27px 55px #ededed, inset 27px 27px 55px #ffffff;
}
.create-btn {
  font-size: 12px;
  border: none;
  padding: 8px 8px;
  border-radius: 12px;
  border: none;
  color: #ecf0f3;
  background: #001ec7;
  box-shadow: 4px 4px 7px #00179b, -4px -4px 7px #0025f3;
  color: white;
}
.create-btn:hover {
  background-color: blue;
}
#submit {
  height: 440px;
}
