h5 {
  display: inline;
}

#navBarBackButton {
  font-size: 40px;
  margin: 10px;

  margin-right: 20px;
}
.modal-body {
  position: relative;

  padding: 15px;
}

#newExamBody {
  height: calc(100vh - 80px);
  overflow: auto;
}

#emptyQuestion {
  height: calc(100vh - 80px);
}

.mcqOptionsContainer {
  margin-top: 10px;
  height: 300px;
  overflow: auto;
  border: 1px solid grey;
}

.mcqOptionsContainer table {
  width: 100%;
}

.mcqOptionsContainer td {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.mcqOptionsContainer table td:first-of-type {
  width: 80px;
}

.mcqOptionsContainer table td:last-of-type:hover {
  background-color: lightcoral;
}

.mcqOptionsContainer table tr:first-of-type {
  background-color: rgb(197, 197, 197);
}

.mcqOptionsContainer table tr:first-of-type td:hover {
  background-color: rgb(197, 197, 197);
}

.mcqOptionsContainer table tr:last-of-type {
  background-color: rgb(197, 197, 197);
}

.mcqOptionsContainer table tr:last-of-type td:hover {
  background-color: rgb(197, 197, 197);
}
