h5 {
  display: inline;
}

#navBarBackButton {
  font-size: 40px;
  margin: 10px;

  margin-right: 20px;
}
.modal-body {
  position: relative;

  padding: 15px;
}

#newExamBody {
  height: calc(100vh - 80px);
  overflow: auto;
}

#emptyQuestion {
  height: calc(100vh - 80px);
}
